<!--The whole content below can be removed with the new code.-->
<notify></notify>

<p>
  All items are pure css properties. This means you can change the color
  for example by wring <code>red</code> <i>or</i> <code>#FF0000</code>.
  Similarly you can change the position by <code>20px</code> <i>or</i> <code>5em</code>.
</p>

<div>
  <input type="text" [(ngModel)]="color" placeholder="color" />
</div>
<div>
  <input type="text" [(ngModel)]="background" placeholder="background" />
</div>

<h3>Position</h3>
<div>
  <input type="text" [(ngModel)]="position.bottom" placeholder="bottom" />
</div>
<div>
  <input type="text" [(ngModel)]="position.left" placeholder="left" />
</div>
<div>
  <input type="text" [(ngModel)]="position.top" placeholder="top" />
</div>
<div>
  <input type="text" [(ngModel)]="position.right" placeholder="right" />
</div>

<button (click)="notify()"> Click to generate notification </button>

