<div class="notification-wrapper"
     *ngIf="notification"
     [style.bottom]="notification.styles.position.bottom"
     [style.top]="notification.styles.position.top"
     [style.right]="notification.styles.position.right"
     [style.left]="notification.styles.position.left"
     (click)="removeNotification()">
    <div class="notification"
         [class.hidden]="hidden"
         [style.color]="notification.styles.color"
         [style.background]="notification.styles.background"
         [ngClass]="{'with-shadow': notification.withShadow}">
      {{notification.message}}
  </div>
  
</div>

